// Variables

$white: #ffffff;
$gray: #34495e;
$dark-gray: #2c3e50;
$light-gray: #d2d5d8;
$red: #e74c3c;

$remains-color: #c0392b;
$repeat-color: #2980b9;
$once-color: #f1c40f;

// Generals

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, p, span {
  color: $white;
}

h2 {
  &.once {
    color: $once-color;
  }

  &.remains {
    color: $remains-color;
  }

  &.repeat {
    color: $repeat-color;
  }
}

.container, .container-fluid {
  text-align: center;
}

.bg-secondary {
  background-color: $light-gray !important;
}

.clearfix {
  *zoom: 1;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.today {
  height: 42vh;
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

// Buttons

.btn-add-container {
  padding-top: 21vh;

  .btn-add {
    position: relative;
    margin-top: -50%;
    width: 100%;
    padding-top: 132px;
    border-radius: 500px;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -47px;
      margin-top: -55px;
      font-size: 110px;
    }
  }
}

.btn-repeat,
.btn-once,
.btn-remains {
  color: $white !important;
  border: 0;
  text-transform: uppercase;
}

.btn-repeat {
  background-color: $repeat-color;

  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: darken($repeat-color, 10%);
  }
}

.btn-once {
  background-color: $once-color;

  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: darken($once-color, 10%);
  }
}

.btn-remains {
  background-color: $remains-color;

  &:active,
  &.active,
  &:hover,
  &:focus {
    background-color: darken($remains-color, 10%);
  }
}

.btn-outline-danger {
  border-width: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

// Stickies

.react-stickies-wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  &::selection {
    text-shadow: none;
  }

  .note-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    display: inline-block;
    color: $gray;
    line-height: 34px;
    text-align: center;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);

    &:before {
      display: block;
      content: "";
      width: 130px;
      height: 28px;
      border-radius: 6px/18px 0;
      position: absolute;
    }

    .title {
      color: $white !important;
      text-decoration: none;
      transition: all 0.4s ease;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      left: 0;
      font-size: 0.8em;

      &:hover {
        color: $dark-gray;
      }
    }

    &.today {
      .back,
      .edit {
        font-size: 2em;
      }

      .title {
        font-size: 1em;
      }

      .note-body {
        padding: 10px;
        font-size: 1em;
      }
    }

    &.currentNote {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: scale(2);
      z-index: 1;
    }

    .note-header {
      position: relative;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1);
      height: 34px;

      .important {
        float: left;
        margin-left: 8px;
        color: $red;
      }

    }

    .note-body {
      padding: 5px;
      font-size: 0.7em;
      line-height: 1.2;

      &.settings {
        background-color: $dark-gray;
      }
    }

    .note-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      text-decoration: none;
      width: 100%;
      font-size: 10px;

      .back,
      .edit {
        float: right;
        line-height: 1;
        font-size: 1em;
        padding: 5px;
        opacity: 0.8;
        transition: opacity 0.4s ease;
        color: $dark-gray;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

// React grid

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;

  > .react-resizable-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
  }
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: $red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
